server:
  port: 8080

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: wanderlust
      #mongodb+srv://dangthanhanh_db_user:01862001@cluster0.ozaixgp.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: 539952006239-0s0encdik2u3tlmho12tb67v5vttt0gn.apps.googleusercontent.com
            clientSecret: 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
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            client-name: Google
            scope:
              - email
              - profile
              - openid
          facebook:
            clientId: 3049561311868177
            clientSecret: da74e30a644d9e78ee33e2e2338382d7
            scope:
              - email
              - public_profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub
