.login-layout {
    width: max;
    height: max;
    background: url('./src/assets/images/backgroundLogin.png') no-repeat center center;
    background-size: cover;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.login-form-container {
    background: rgba(255, 255, 255, 0.9); /* Màu nền trắng với độ trong suốt */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.title-wanderlust {
    color: #FFF; /* Màu chữ trắng */
    text-align: center;
    font-family: 'Kadwa', sans-serif; /* Font chữ */
    font-size: 64px; /* Kích thước chữ lớn */
    font-weight: 400; /* Độ đậm chữ */
    line-height: normal; /* Chiều cao dòng */
}

.login-form {
    max-width: 300px;
    margin: auto;
}