.home-container {
    text-align: center;
}

.banner {
    background-image: url('./src/assets/images/backgroundHome.jpeg');
    background-size: cover;
    padding: 50px 20px;
    color: white;
    text-align: center;
    height: 300px;
}

.search-bar input {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.promotion-section {
    padding: 30px 20px;
}

.promotion-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.promotion-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 224px;
    height: 227px;
}
.image{
    width: 200px;
    height: 150px;
}
